@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

#site_title {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.vibes {
  font-family: 'Great Vibes', cursive;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin-right: 12px
}

nav a {
  color: black;
  text-decoration: underline;
}

nav a:visited {
  color: green;
}

nav a:hover{
  font-weight: bold;
}

nav a:active {
  font-weight: normal;
  text-decoration: none;
}

#main_nav {
  font-size: 20px;
}

.center{
  text-align: center;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

#index_content {
  background-color: #f0f0f0;
  margin-top: 3em;
}

#menu_content {
  background-color: #fff79a;
  padding-top: 1.2em;
}

.menu-item-title {
  font-size: 20px;
}

#beverages td{
  text-align: left;
}
.contact-form-entry {
  margin-bottom: .8em;
}

.required-field {
  font-weight: bold;
}

.footnote {
  font-size: .75em;
}

#footer_text{
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
}

#no_js {
  position: fixed;
  top: 0;
}