@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#site_title {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.vibes {
  font-family: 'Great Vibes', cursive;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin-right: 12px
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover, nav .active {
  font-weight: bold;
  text-decoration: underline;
}

#main_nav {
  font-size: 20px;
}

.center{
  text-align: center;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

#index_content {
  background-color: #f0f0f0;
}

#menu_content {
  background-color: #fff79a;
  padding-top: 1.2em;
}

.menu-item-title {
  font-size: 20px;
}

.required-field {
  font-weight: bold;
}

.footnote {
  font-size: .75em;
}

#footer_text{
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
}