body {
  background-color: #FBF1D0;
}

#background_image {
  height: 400px;
  background-image: url("../images/billyjoelalbum.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
}

.pacifico {
  font-family: 'Pacifico', 'cursive';
}
table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

td, th {
  text-align: center;
}

.members-list {
  font-style: italic;
}

.song-title {
  font-weight: bold;
}

img {
  border: 1px solid black;
}

.medium-radius{
  border-radius: 12px
}

a:link,
a:visited{
  text-decoration: none;
}

#band_site_link a:hover{
  text-decoration: underline;
  background-color: #ffa500;
}

a:active{
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

#album_tracks td{
   font-style: italic;
}

#album_tracks td {
  background-color: #ffa500;
}