body {
  background-color: #FBF1D0;
}

table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

td, th {
  text-align: center;
}

.song-title {
  font-weight: bold;
}

img {
  border: 1px solid black;
}

.medium-radius{
  border-radius: 12px
}